﻿@model najbdev2.Company

@{
    ViewBag.Title = "Company";
}

@*<div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
        <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.Raw(Model.logo)') center / cover"></div>
        <div class="mdl-card__actions">
            <span class="image-card__filename">@Html.DisplayFor(model => model.name) (@Html.DisplayFor(model => model.NAJB_userID))</span>
        </div>
        <div class="mdl-card__menu">
            <button id="attach-image" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--white" type="button">
                <i class="material-icons">create</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="attach-image">
                <li class="mdl-menu__item">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</li>
            </ul>
        </div>
    </div>

    @HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")/Content/@Html.Raw(Model.logo)*@


<div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
    <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.Raw(Model.logo)') center / cover"></div>
    <div class="mdl-card__actions">
        @*<span class="image-card__filename">@Html.TextBoxFor(model => model.File, new { type = "file" })</span>
            @Html.ValidationMessageFor(model => model.File)*@
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
    <div class="mdl-card__title mdl-color--teal-500">
        <h4>Company Details</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
        <div class="form-group">
            <h2>@Html.DisplayFor(model => model.name, new { @class = "form-control" })</h2>
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <a href="http://@Html.DisplayFor(model => model.website)">@Html.DisplayFor(model => model.website, new { @class = "form-control" })</a>
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.description, new { @class = "form-control" })
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        @*<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">*@
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__title mdl-color--teal-500">
        <h4>Jobs</h4>

    </div>
</div>