﻿
@{
    ViewBag.Title = "Hirer";
}

<div class="mdl-grid index-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-cell mdl-cell--12-col">
        <h3><strong> The best way to connect YOU with job searchers.</strong></h3>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp">
        <img src="~/Content/images/happy-office-worker-o-worker-facebook.jpg" style="background-size: cover; max-width: 100%; margin-bottom: -36px;" alt="" />
    </div>
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-shadow--2dp">
        <h5> We place your job directly into the hands of your next hire!</h5><h6>Through Not a Job Board, you create active job posts designed to engage passive candidates in your hiring process by targeting your sector and respective networks.</h6>
    </div>
</div>

<div class="mdl-grid index-card mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

    <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">Step 1</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <a href="@Url.Action("Register", "Account")">Register</a> for a FREE Not A Job Board account using the registration button
        </div>
    </div>

    <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">Step 2</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <a href="@Url.Action("Login", "Account")">Login</a> to start adding jobs to you Company's profile.
        </div>
    </div>

    <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">Step 3</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Begin receiving applications directly from job seekers matched to your specific position.
        </div>
    </div>
</div>

