﻿@{
    ViewBag.Title = "Home";
}

<div style="margin:auto;">
    <div class="mdl-grid index-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-cell mdl-cell--12-col">
            <h3><strong> Job post alerts that work. </strong></h3>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-card--border">
            <figure class="mdl-card__media" style="margin: 0;">
                <img src="~/Content/images/portrait-attractive-office-workers-smiling-young-happy-35479230.jpg" style="background-size: cover; max-width: 100%; margin-bottom: -36px;" alt="" />
            </figure>
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Are you a Job Seeker?</h1>
                <div class="mdl-layout-spacer"></div>
                <a href="@Url.Action("Searcher", "Home")" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Click Here</a>
            </div>

            <div class="mdl-card__actions mdl-card--border">

                @*<div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>*@
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
            <figure class="mdl-card__media" style="margin: 0;">
                <img src="~/Content/images/happy-office-worker-o-worker-facebook.jpg" style="background-size: cover; max-width: 100%;" alt="" />
            </figure>
            <div class="mdl-card__title mdl-color--red-500">
                <h1 class="mdl-card__title-text ">Are you a Job Hirer?</h1>
                <div class="mdl-layout-spacer"></div>
                <a href="@Url.Action("Hirer", "Home")" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--teal-300">Click Here</a>
                @*<div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
            <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>*@

            </div>

        </div>
    </div>
</div>

    @*<div class="mdl-grid index-card mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

            <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Step 1</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <a href="@Url.Action("Register", "Account")">Register</a> for a FREE Not A Job Board account using the registration button
                </div>
            </div>

            <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Step 2</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <a href="@Url.Action("Login", "Account")">Login</a> to fill in your profile to begin Matching jobs based on your specific criteria.
                </div>
            </div>

            <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Step 3</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    Begin receiving daily emails with jobs that are tailored to your skills.
                </div>
            </div>
        </div>*@
