﻿@model najbdev2.Job

@{
    ViewBag.Title = "Job Details";
}

<div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
    <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.DisplayFor(model => model.Company.logo)') center / cover"></div>
    <div class="mdl-card__actions">
        <span class="image-card__filename">@Html.DisplayFor(model => model.Company.name)</span>
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
    <div class="mdl-card__title mdl-color--teal-500">
        <h4>@Html.DisplayFor(model => model.name)</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            Company: <a href="/Home/Company?id=@Html.DisplayFor(model => model.Company.ID)">@Html.DisplayFor(model => model.Company.name)</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Website: <a href="@Html.DisplayFor(model => model.Company.website)">@Html.DisplayFor(model => model.Company.website)</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Location: @Html.DisplayFor(model => model.location)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Industry: @Html.DisplayFor(model => model.industry)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Job Type: @Html.DisplayFor(model => model.jobType)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Job Description: @Html.DisplayFor(model => model.description)
        </div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
        @*<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:@Html.DisplayFor(model => model.Company.applyTo)">Apply</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:@Html.DisplayFor(model => model.Company.applyTo)">Favourite</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:@Html.DisplayFor(model => model.Company.applyTo)">Ignore</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:@Html.DisplayFor(model => model.Company.applyTo)">Share</button>*@
    </div>
</div>