﻿
@{
    ViewBag.Title = "Searcher";
}
<div style="margin:auto;">
    <div class="mdl-grid index-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-cell mdl-cell--12-col">
            <h3><strong> The best way to connect YOU with job hirers.</strong></h3>
        </div>

        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp">
            <img src="~/Content/images/portrait-attractive-office-workers-smiling-young-happy-35479230.jpg" style="background-size: cover; max-width: 100%; margin-bottom: -36px;" alt="" />
        </div>
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-shadow--2dp">
            <h5>Have jobs that are perfect for you delivered directly to you!</h5>
            <h6>Even if you’re not looking for a career move right now, stay informed about career opportunities that are within your sector, and pass along relevant jobs to the talented people in your network who’d be a good fit!</h6>
        </div>
    </div>

    <div class="mdl-grid index-card mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

        <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Step 1</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <a href="@Url.Action("Register", "Account")">Register</a> for a FREE Not A Job Board account using the registration button
            </div>
        </div>

        <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Step 2</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <a href="@Url.Action("Login", "Account")">Login</a> to fill in your profile to begin Matching jobs based on your specific criteria.
            </div>
        </div>

        <div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Step 3</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Begin receiving daily emails with jobs that are tailored to your skills.
            </div>
        </div>
    </div>

</div>