﻿@model najbdev2.ViewModels.ViewUser

@{
    ViewBag.Title = "Add A Search";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="mdl-cell mdl-cell--8-col alert alert-danger"><p>@ViewBag.ErrorMessage</p></div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="mdl-cell mdl-cell--8-col alert alert-success"><p>@ViewBag.SuccessMessage</p></div>
}

@using (Html.BeginForm("AddSearch", "Searcher", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mdl-grid" }))
{
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
        <div class="mdl-card__title mdl-color--teal-500">
            <h4>Add a Search</h4>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.EditorFor(model => model.JobName, new { @class = "form-control" })
                @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.CompanyName, new { @class = "form-control" })
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Industry, new { @class = "form-control" })
                @Html.LabelFor(model => model.Industry, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.SalaryMin, new { @class = "form-control", @value = "showMessage(value)" })
                @Html.LabelFor(model => model.SalaryMin, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.SalaryMin, "", new { @class = "text-danger" })
                @*Value: <div id="message">$20000</div>*@
                <p style="margin: 16px 0px">
                    <input class="mdl-slider mdl-js-slider form-control" id="SalaryMinSlider" name="SalaryMin" type="range" min="0" max="150000" value="20000" tabindex="0" step="1000" oninput="showMessage(this.value)">
                </p>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.SalaryMax, new { @class = "form-control", @value = "showMessage2(value)" })
                @Html.LabelFor(model => model.SalaryMax, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.SalaryMax, "", new { @class = "text-danger" })
                <p style="margin: 16px 0px">
                    <input class="mdl-slider mdl-js-slider" id="SalaryMaxSlider" name="SalaryMax" type="range" min="0" max="150000" value="50000" tabindex="0" step="1000" oninput="showMessage2(this.value)">
                </p>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Location, new { @class = "form-control" })
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mdl-cell mdl-cell--6-col" style="width:35%">
                <label for="Radius">Radius</label>
                @*@Html.EditorFor(model => model.Radius, new { @class = "form-control" })*@
                @*@Html.LabelFor(model => model.Radius, htmlAttributes: new { @class = "control-label" })*@
                @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Radiusch1">
                    <input type="checkbox" id="Radiusch1" name="Radius" value="25" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">25 km</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Radiusch2">
                    <input type="checkbox" id="Radiusch2" name="Radius" value="50" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">50 km</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Radiusch3">
                    <input type="checkbox" name="Radius" value="100" id="Radiusch3" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">100 km</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Radiusch4">
                    <input type="checkbox" name="Radius" value="0" id="Radiusch4" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Province Wide</span>
                </label>
            </div>
            <div class="form-group mdl-cell mdl-cell--6-col" style="width:35%">
                <label for="JobType">Job Type</label>
                @*@Html.EditorFor(model => model.JobType, new { @class = "form-control" })*@
                @*@Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "control-label" })*@
                @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech1">
                    <input type="checkbox" id="JobTypech1" name="JobType" value="FT" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Full Time</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech2">
                    <input type="checkbox" id="JobTypech2" name="JobType" value="PT" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Part Time</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech3">
                    <input type="checkbox" name="JobType" value="Casual" id="JobTypech3" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Casual</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech4">
                    <input type="checkbox" name="JobType" value="Contract" id="JobTypech4" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Contract</span>
                </label>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.Email)
            @*@Html.HiddenFor(model => model.AdditionalLocations, new { @id = "additionalLocations", @value="" } )*@
            <input type="hidden" name="AdditionalLocations" id="AdditionalLocations" value="" />
            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="" />
        </div>
    </div>
}

