﻿@model najbdev2.ViewModels.ViewUser

@{
    ViewBag.Title = "Job Details";
}

<div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
    <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.DisplayFor(model => model.Job.Company.logo)') center / cover"></div>
    <div class="mdl-card__actions">
        <span class="image-card__filename">@Html.DisplayFor(model => model.Job.Company.name)</span>
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
    <div class="mdl-card__title mdl-color--teal-500">
        <h4>@Html.DisplayFor(model => model.Job.name)</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            Company: <a href="/Searcher/Company?id=@Html.DisplayFor(model => model.Job.Company.ID)">@Html.DisplayFor(model => model.Job.Company.name)</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Website: <a href="@Html.DisplayFor(model => model.Job.Company.website)">@Html.DisplayFor(model => model.Job.Company.website)</a>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Location: @Html.DisplayFor(model => model.Job.location)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Industry: @Html.DisplayFor(model => model.Job.industry)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Job Type: @Html.DisplayFor(model => model.Job.jobType)
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            Job Description: @Html.DisplayFor(model => model.Job.description)
        </div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="window.location.href='mailto:@Html.DisplayFor(model => model.Job.Company.applyTo)';" >Apply</button>
@using (Html.BeginForm("Favourite", "Searcher", new { id = Html.DisplayFor(model => model.Job.ID) }, FormMethod.Post, new { @style = "display:inline" }))
{
    @Html.AntiForgeryToken()
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="job-favourite" type="submit">Favourite</button>
}
        <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-favourite'>
            Add this Job to your Favourites
        </div>
        @using (Html.BeginForm("Ignore", "Searcher", new { id = Html.DisplayFor(model => model.Job.ID) }, FormMethod.Post, new { @style = "display:inline" }))
        {
            @Html.AntiForgeryToken()
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="job-favourite" type="submit">Ignore</button>
        }
        
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="share-button">Share</button>
    </div>
</div>
@using (Html.BeginForm("Share", "Searcher", new { id = Html.DisplayFor(model => model.Job.ID) }, FormMethod.Post, new { @style = "display:inline; width: 100%;" }))
    {
        @Html.AntiForgeryToken()
<div id="shareEmailContainer" class="mdl-card__title mdl-shadow--2dp mdl-cell mdl-cell--12-col glyphicon-share" style="display:none;">

            <div class="mdl-cell mdl-cell--8-col">
                <p class="pull-right" style="margin:0px">Enter an email address to share this job:</p>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <input type="text" class="form-control control pull-right" name="shareEmail" id="shareEmail" />
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="sendShareEmail" type="submit">Email</button>
                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='sendShareEmail'>
                    Send
                </div>
            </div>

    </div>
}