﻿@model najbdev2.ViewModels.ViewUser

@{
    ViewBag.Title = "My Searches";
}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__title mdl-color--teal-500">
        <h4>My Searches</h4>
    </div>
    <div class="job-table mdl-color--white mdl-cell mdl-cell--12-col">
        <table class="table table_id">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Industry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Radius)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryMin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryMax)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.JobSearches)
                {
                    <tr>
                        <td class="text-center"><i class="material-icons">expand_more</i></td>
                        <td>
                            @if (item.Active == true)
                            {
                                <a class="icon material-icons mdl-color-text--green-500" id="job-active-@item.ID" href="DeactivateJobSearch?id=@item.ID">lightbulb_outline</a>
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-active-@item.ID'>
                                    Active
                                </div>
                            }
                            else
                            {
                                <a class="icon material-icons mdl-color-text--grey-500" id="job-inactive-@item.ID" href="ActivateJobSearch?id=@item.ID">lightbulb_outline</a>
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-inactive-@item.ID'>
                                    Inactive
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Industry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Radius)@Html.Raw(" kms")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryMax)
                        </td>
                        <td>
                            <a class="icon material-icons" id="job-delete-@item.ID" href="DeleteJobSearch?id=@item.ID">delete</a>
                            <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-delete-@item.ID'>
                                Delete
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="job-table mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <p class="pull-right">
        Did you get hired? Click here to deactivate all Job Searches.
        @Html.ActionLink("Deactivate", "Deactivate", "Searcher", null, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })
    </p>
</div>
