﻿@{
    ViewBag.Title = "Confirm Email";
}

<div style="width:100%">
    <h2>@ViewBag.Title.</h2>
</div>
<div style="width:100%">
    <p>
        Thank you for confirming your email. <br />
        Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
