﻿@{
    ViewBag.Title = "Confirm your Account";
}
<div style="width: 100%;">
    <h3>@ViewBag.Title.</h3>
</div>
<div style="width: 100%;">
    <p class="text-danger">
        Please check your email and confirm your email address.
    </p>
</div>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
