﻿@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-danger"><p>@ViewBag.ErrorMessage</p></div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-success"><p>@ViewBag.SuccessMessage</p></div>
}



<div class="login-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col" style="margin:auto;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Login</h2>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="RememberMe">
                        <input type="checkbox" id="RememberMe" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Remember Me?</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Login">
            @Html.ActionLink("Forgot?", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "forgotPasswordLink", @class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect float-right" })
        </div>
    }
</div>