﻿@model najbdev2.ViewModels.ViewCompany

<div class="najb-drawer mdl-layout__drawer mdl-color--blue-grey-800">

    @if (Request.IsAuthenticated)
    {

        <header class="najb-drawer-header mdl-color--blue-grey-900">
            @if (Model.UserImage == "" || Model.UserImage == null)
            {
                <img id="userImage" src="/Content/images/user.jpg" class="najb-avatar">
            }
            else
            {
                <img id="userImage" src="/Content/@Model.UserImage" class="najb-avatar">
            }
            <div class="najb-avatar-dropdown">
                <p><strong><span id="userNameImage">@User.Identity.Name</span></strong></p>
            </div>
            <div class="najb-avatar-dropdown">
                <h6>Credits: @Model.Credits</h6>
            </div>
        </header>
    }

    else
    {
        <header class="najb-drawer-header mdl-color--blue-grey-900">
            <div class="najb-avatar-dropdown">
                <span>Welcome</span>
            </div>
        </header>
    }
    <nav class="mdl-navigation mdl-color-text--white">
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Welcome", "Welcome", "Home", new { @class = "mdl-navigation__link" })
            @Html.ActionLink("View Users", "ViewUsers", "Home", new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Create Role", "CreateRole", "Home", new { @class = "mdl-navigation__link" })
            @Html.ActionLink("Modify User Roles", "ModifyUserRole", "Home", new { @class = "mdl-navigation__link" })
            <div class="mdl-layout-spacer"></div>
            @Html.Partial("_LoginPartial")

        }
        else if (HttpContext.Current.User.IsInRole("Searcher"))
        {
            <a href="@Url.Action("About", "Searcher")" class="mdl-navigation__link"><i class="material-icons">info_outline</i>About</a>
            <a href="@Url.Action("AddSearch", "Searcher")" class="mdl-navigation__link"><i class="material-icons">add</i>Add Search</a>
            <a href="@Url.Action("Searcher", "Searcher")" class="mdl-navigation__link"><i class="material-icons">assessment</i>Job Board</a>
            <a href="@Url.Action("EditSearcher", "Searcher")" class="mdl-navigation__link"><i class="material-icons">create</i>Edit Profile</a>
            <div class="mdl-layout-spacer"></div>
            @Html.Partial("_LoginPartial")
        }
        else if (HttpContext.Current.User.IsInRole("Hirer"))
        {
            @*Html.ActionLink("Add Credits", "AddCredits", new { id = Model.CompanyID }, new { @class = "mdl-navigation__link" })*@
            <a href="@Url.Action("About", "Hirer")" class="mdl-navigation__link"><i class="material-icons">info_outline</i>About</a>
            <a href="@Url.Action("AddCredits", "Hirer")" class="mdl-navigation__link"><i class="material-icons">credit_card</i>Add Credits</a>
            <a href="@Url.Action("AddJob", "Hirer")" class="mdl-navigation__link"><i class="material-icons">add</i>Add Job</a>
            <a href="@Url.Action("Hirer", "Hirer")" class="mdl-navigation__link"><i class="material-icons">assessment</i><span class="mdl-badge" data-badge="@ViewBag.Postings">My Postings</span></a>
            <a href="@Url.Action("Archive", "Hirer")" class="mdl-navigation__link"><i class="material-icons">history</i>Archive</a>
            <a href="@Url.Action("EditHirer", "Hirer")" class="mdl-navigation__link"><i class="material-icons">create</i>Edit Profile</a>
            <a href="@Url.Action("Company", "Hirer")" class="mdl-navigation__link"><i class="material-icons">account_balance</i>My Company</a>
            <a href="@Url.Action("EditCompany", "Hirer")" class="mdl-navigation__link"><i class="material-icons">create</i>Edit Company</a>
            <div class="mdl-layout-spacer"></div>
            @Html.Partial("_LoginPartial")
        }
        else
        {
            @Html.Partial("_LoginPartial")
            <div class="mdl-layout-spacer"></div>
        }
        <a href="@Url.Action("Help", "Home")" class="mdl-navigation__link"><i class="material-icons">help_outline</i>Help</a>
    </nav>
</div>