﻿@model najbdev2.ViewModels.ViewUser

<div class="najb-drawer mdl-layout__drawer mdl-color--blue-grey-800">
    @if (Request.IsAuthenticated)
    {

        <header class="najb-drawer-header mdl-color--blue-grey-900">
            @if (Model.UserImage == "" || Model.UserImage == null)
            {
                <img id="userImage" src="/Content/images/user.jpg" class="najb-avatar">
            }
            else
            {
                <img id="userImage" src="/Content/@Model.UserImage" class="najb-avatar">
            }
            <div class="najb-avatar-dropdown">
                <p><strong><span id="userNameImage">@User.Identity.Name</span></strong></p>
            </div>
        </header>
    }

    else
    {
        <header class="najb-drawer-header mdl-color--blue-grey-900">
            <div class="najb-avatar-dropdown">
                <span>Welcome</span>
            </div>
        </header>
    }
    <nav class="mdl-navigation mdl-color-text--white">

        <a href="@Url.Action("About", "Searcher")" class="mdl-navigation__link"><i class="material-icons">info_outline</i>About</a>
        <a href="@Url.Action("AddSearch", "Searcher")" class="mdl-navigation__link"><i class="material-icons">add</i>Add Search</a>
        <a href="@Url.Action("Searcher", "Searcher")" class="mdl-navigation__link"><i class="material-icons">assessment</i><span class="mdl-badge" data-badge="@ViewBag.Searches">My Searches</span></a>
        <a href="@Url.Action("EditSearcher", "Searcher")" class="mdl-navigation__link"><i class="material-icons">create</i>Edit Profile</a>
        <a href="@Url.Action("Favourites", "Searcher")" class="mdl-navigation__link"><i class="material-icons">stars</i><span class="mdl-badge" data-badge="@ViewBag.Favourites">Favourites</span></a>
        <div class="mdl-layout-spacer"></div>
        @Html.Partial("_LoginPartial")

        <a href="@Url.Action("Help", "Home")" class="mdl-navigation__link"><i class="material-icons">help_outline</i>Help</a>
    </nav>
</div>