﻿
<div class="najb-drawer mdl-layout__drawer mdl-color--blue-grey-800">



    <header class="najb-drawer-header mdl-color--blue-grey-900">
        <div class="najb-avatar-dropdown">
            <span>Welcome</span>
        </div>
    </header>

    <nav class="mdl-navigation mdl-color-text--white">

        @Html.Partial("_LoginPartial")
        <div class="mdl-layout-spacer"></div>

        <a href="@Url.Action("Help", "Home")" class="mdl-navigation__link"><i class="material-icons">help_outline</i>Help</a>
    </nav>
</div>