﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Not A Job Board</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui/jquery-ui.theme.min.css">
    <link href="~/Content/css/jquery.tagit.css" rel="stylesheet" type="text/css">
    @*<link href="~/Content/css/jquery.tag-editor.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.material.min.css">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- MDL -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/mdl/material.min.css" rel="stylesheet" type="text/css" />
    <!--Site CSS-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,100' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--white main-header-container" style="">
            <div class="mdl-layout__header-row main-header najb-content" style="width: 100%; margin: 0 auto;">
                <!-- Title -->
                <a href="@Url.Action("Index", "Home")"<span class="mdl-logo pull-left"><img src="~/Content/images/NAJB_Logo_Web.png" /></span></a>
                <span class="mdl-layout-title mdl-color-text--red-500 pull-left"> @ViewBag.Title</span>
                @*Html.ActionLink("Not A Job Board", "Index", "Home", new { area = "" , @class = "mdl-title--text"})*@
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-color--grey-100 pull-right visible-lg">
                    @Html.Partial("_LoginPartialNav")
                </nav>
            </div>
        </header>
        @if (HttpContext.Current.User.IsInRole("Searcher") && Request.IsAuthenticated && HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.Partial("_Dashboard_Searcher")
            <main class="mdl-layout__content mdl-color--grey-100" style="">
                <div class="mdl-grid najb-content">
                    @RenderBody()
                </div>
            </main>
        }
        else if (HttpContext.Current.User.IsInRole("Hirer") && Request.IsAuthenticated)
        {
            @Html.Partial("_Dashboard_Hirer")
            <main class="mdl-layout__content mdl-color--grey-100" style="">
                <div class="mdl-grid najb-content">
                    @RenderBody()
                </div>
            </main>
        }
        else { 
        <main class="mdl-layout__content mdl-color--grey-100" style=" background: url('../../Content/images/177175.jpg')">
            <div class="mdl-grid najb-content" style="height:89vh">
                @RenderBody()
            </div>
        </main>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/jquery-ui/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Content/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    @*<script src="~/Content/js/jquery.tag-editor.min.js" type="text/javascript" charset="utf-8"></script>*@
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script src="http://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    <!-- MDL -->
    <script src="~/Content/mdl/material.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $("#JobName").tagit({
        autocomplete: {
            source: function (request, response) {
                $.ajax({
                    url: "@Url.RouteUrl("Default", new { Action = "AutoCompleteGetJobName", Controller = "Ajax" })",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {

                            return { label: item.Title, value: item.Title };
                        }))

                    }
                })
            }
        },
        allowSpaces: true,
    });
    </script>
    <script type="text/javascript">
    $("#CompanyName").tagit({
        autocomplete: {
            source: function (request, response) {
                $.ajax({
                    url: "@Url.RouteUrl("Default", new { Action = "AutoCompleteGetCompanyName", Controller = "Ajax" })",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Companies, value: item.Companies };
                        }))

                    }
                })
            }
        },
        allowSpaces: true,
    });
    </script>
    <script type="text/javascript">
    $("#Industry").tagit({
        autocomplete: {
            source: function (request, response) {
                $.ajax({
                    url: "@Url.RouteUrl("Default", new { Action = "AutoCompleteGetJobIndustry", Controller = "Ajax" })",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Industries, value: item.Industries };
                        }))

                    }
                })
            }
        },
        allowSpaces: true,
    });
    </script>
    @*<script type="text/javascript">
        $("#myJobTypeTag").tagit({
            autocomplete: {
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.RouteUrl("Default", new { Action = "AutoCompleteGetJobType", Controller = "Ajax" })",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Value, value: item.Value };
                            }))

                        }
                    })
                }
            },
            allowSpaces: true,
        });
        </script>*@
    <script type="text/javascript">
    $(document).ready(function () {
        $('.table_id').DataTable({
            responsive: true,
            "order": [[ 2, "desc" ]]
        });
    } );
    </script>
    <script type="text/javascript">
        $("#Location").tagit({
            autocomplete:{
                source: function (request, response) {
                    $.getJSON(
                        "http://gd.geobytes.com/AutoCompleteCity?callback=?&q=" + request.term,
                        function (data) {
                            response(data);
                        }
                    );
                },
                minLength: 3,
                select: function (event, ui) {
                    var selectedObj = ui.item;
                    $("#Location").val(selectedObj.value);
                    getcitydetails(selectedObj.value);
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.tagit').focusout(function(){
                var location = $('#Location').val();
            var radius1 = $('#Radiusch1').val();
            var radius2 = $('#Radiusch2').val();
            var radius3 = $('#Radiusch3').val();
            var radius4 = $('#Radiusch4').val();
            var radius = '';
            if (radius1 != null)
            {
                radius = radius1;
            }
            else if (radius2 != null) {
                radius = radius2;
            }
            else if (radius3 != null) {
                radius = radius3;
            }
            else if (radius4 != null) {
                radius = radius4;
            }
            locations = "";
            if (location != null && radius != null) {
                $.getJSON("http://getnearbycities.geobytes.com/GetNearbyCities?callback=?&limit=100&radius=" + radius + "&locationcode=" + location,
                function (data) {
                    //alert(data);
                    for (var i = 0; i < data.length; i++) {
                        addLocations(data[i]);
                    }

                    function addLocations(rowData) {
                        locations += (rowData[1] + ", " + rowData[2] +  ", " + rowData[3] + ";");
                        //alert(locations);


                    }
                    $('#AdditionalLocations').val(locations);
                });

            }
        });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.active').click(function () {
                var active = $(this).val();
                $.ajax({
                    type: "POST",
                    data: '{ }',
                    dataType: "json",
                    url: "@Url.RouteUrl("Default", new { Action = "AjaxUpdateActive", Controller = "Ajax" })",
                    success: function (response) {
                        alert(response);

                    },
                    error: function (response) {
                        alert("error");
                    }
                })
            });
        });

    </script>
    <script>
        $(document).ready(function () {

                $("#Date").datepicker()

        });
    </script>
    @*<script>
        $(function () {
            $("#datepicker").tagit();
        });
        </script>*@
    <script language="javascript">
        $(document).ready(function(){
            document.getElementById("SalaryMin").value = "$20000";
            document.getElementById("SalaryMax").value = "$50000";
        });
    function showMessage(value) {
        document.getElementById("SalaryMin").value = "$" + value;
    }
    </script>
    <script language="javascript">
    function showMessage2(value) {
        document.getElementById("SalaryMax").value = "$" + value;
    }
    </script>

    <script>

        $('#share-button').click(function () {
            $('#shareEmailContainer').toggle();
        });
    </script>
</body>
</html>




