﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (HttpContext.Current.User.IsInRole("Hirer"))
        {

        }
        else if (HttpContext.Current.User.IsInRole("Searcher"))
        {

        }
        else
        {
            <a class="mdl-navigation__link" href="javascript:document.getElementById('logoutForm').submit()" style="color: #424242;"><i class="material-icons">highlight_off</i>Log off</a>
        }

    }
}
else
{
    @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "mdl-navigation__link", @style = "color: #424242" })*@
    <a href="@Url.Action("Register", "Account")" class="mdl-navigation__link" id="loginLink" style="color: #424242"><i class="material-icons">autorenew</i>Register</a>
    @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "mdl-navigation__link", @style = "color: #424242" })*@
    <a href="@Url.Action("Login", "Account")" class="mdl-navigation__link" id="loginLink" style="color: #424242"><i class="material-icons">input</i> Login</a>
}

