﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page Not Found";
}

<hgroup>
    <h1 class="text-error">Error.</h1>
    <h2 class="text-error">That page does not exist.</h2>
    <h3>
        Application Error:
    </h3>
    <h4>
        Sorry, The Page, You are Looking for is not found.
    </h4>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
</hgroup>
