﻿/* Fonts */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*  Custom CSS  */

.searcher .dataTables_wrapper .dataTables_length, .searcher .dataTables_wrapper .dataTables_filter, .searcher .dataTables_wrapper .dataTables_info, .searcher .dataTables_wrapper .dataTables_paginate {
    display:none
}

.alert {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: rgb(255,82,82);
}


/*Core Styles: Drawer, Header, Content area */
html, body, table, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .mdl-logo {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1025px) {
    
    .main-header-container {
        margin-left: 0px; width: 100%;
    }
    mdl-layout__content {
        padding: 0px 280px !important;
    }

}
/* Tables */


.job-table {
    padding: 20px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid rgba(0,0,0,.12);
}

 table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

th {
    color: rgba(0,0,0,.54);
}

td {
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

td, .dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    color: #757575 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgba(158,158,158,.2) !important;
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover  {
    background: rgb(255,82,82) !important;
    color: white !important;
}

/*Dashboard*/

.najb-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.najb-drawer {
  border: none;
  overflow-x: hidden !important;
  color: white !important;
}

.najb-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.najb-content {
  max-width: 1080px;
}
/* iOS Safari specific workaround */
.najb-drawer .mdl-menu__container {
  z-index: -1;
}
.najb-drawer .najb-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.najb-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.najb-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.najb-drawer .mdl-navigation {
  flex-grow: 1;
}

.najb-drawer .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
  text-decoration: none !important;
}
.najb-drawer  .mdl-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.najb-drawer .mdl-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

/* Forms */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Card Styles */

.mdl-card__title {
    color: white!important;
    background-color: #009688;
}

.index-card > .mdl-card__title {
    /*background: url('images/front-cover.jpg') center / cover;*/
    background-color: #F44336;
    height: 300px;
    width: 100%;
}

.image-card.mdl-card {
  min-width: 256px;
  min-height: 256px;
}

.image-card .mdl-card__title {
    background-color: #F44336;
}

.image-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.image-card__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.float-right {
    float: right;
}

.float-left  {
    float: left;
}

.mdl-logo img {
    height: 52px;
}

/* Help Table of Contents */
.toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

/* Alerts */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert {
  border: 0;
  border-radius: 0;
}
.alert,
.alert.alert-default {
  background-color: rgba(255,255,255, 0.84);
  color: rgba(255,255,255, 0.84);
}
.alert a,
.alert.alert-default a,
.alert .alert-link,
.alert.alert-default .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert.alert-inverse {
  background-color: #3f51b5;
  color: #ffffff;
}
.alert.alert-inverse a,
.alert.alert-inverse .alert-link {
  color: #ffffff;
}
.alert.alert-primary {
  background-color: #009688;
  color: rgba(255,255,255, 0.84);
}
.alert.alert-primary a,
.alert.alert-primary .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert.alert-success {
  background-color: #4caf50;
  color: rgba(255,255,255, 0.84);
}
.alert.alert-success a,
.alert.alert-success .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert.alert-info {
  background-color: #03a9f4;
  color: rgba(255,255,255, 0.84);
}
.alert.alert-info a,
.alert.alert-info .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert.alert-warning {
  background-color: #ff5722;
  color: rgba(255,255,255, 0.84);
}
.alert.alert-warning a,
.alert.alert-warning .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert.alert-danger {
  background-color: #f44336;
  color: rgba(255,255,255, 0.84);
}
.alert.alert-danger a,
.alert.alert-danger .alert-link {
  color: rgba(255,255,255, 0.84);
}
.alert-info,
.alert-danger,
.alert-warning,
.alert-success {
  color: rgba(255,255,255, 0.84);
}
.alert-default a,
.alert-default .alert-link {
  color: rgba(0,0,0, 0.87);
}

input, .form-control {
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}

/*forms*/
fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin: 2.25rem;
  width: 100%; /* REQUIRED FOR TAGIT */
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #009688;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

input[type="search"] {
    border: none;
}

.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #009688;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #009688;
  border-color: #009688;
}
.radio label:hover .helper {
  color: #009688;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #009688;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #009688;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #009688;
}
.checkbox input:checked ~ .helper {
  color: #009688;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

/*Tagit*/

ul.tagit {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    border: none;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}

ul.tagit input[type="text"] {
    border-bottom: none !important;
}

.tagit-choice {
    background: rgba(158,158,158,.2) !important;
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 0px;
    color: black !important;
}