﻿@model najbdev2.ViewModels.ViewCompany
@{
    ViewBag.Title = "Add Credits";
}

<div class="index-card mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        The best way to connect job searchers with job hirers.
    </div>
    <!--<div class="mdl-card__actions mdl-card--border">
        @*@Html.ActionLink("Job Seekers >>", "Welcome", "Home", new { area = "" }, new { @class = "mdl-button mdl-js-button mdl-js-ripple-effect" })
    @Html.ActionLink("Job Hirers >>", "Company", "Home", new { area = "" }, new { @class = "mdl-button mdl-js-button mdl-js-ripple-effect" })*@
        @*<p class="lead">@ViewBag.JobCount Current Jobs Ready for a Match</p>*@
    </div>-->
</div>

<div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Package 1 <br /> 100 Credits - $99</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="custom" value="100">
            <input type="hidden" name="hosted_button_id" value="TUHYH9ZLAC274">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>

<div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Package 2 <br /> 500 Credits - $399</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="custom" value="500">
            <input type="hidden" name="hosted_button_id" value="NL8QDHK9Z7JYC">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>

<div class="step-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <h2 class="mdl-card__title-text">Package 3 <br /> 1000 Credits - $799</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="custom" value="1000">
            <input type="hidden" name="hosted_button_id" value="ZB7U4XE7ARU4C">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>
