﻿@model najbdev2.ViewModels.ViewCompany
@{
    ViewBag.Title = "Add Company";
}

@using (Html.BeginForm("AddCompany", "Hirer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mdl-grid" }))
{
    @Html.AntiForgeryToken()
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
        <div class="mdl-card__title mdl-color--teal-500">
            <h4>Company Details</h4>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">

            <div class="form-group">
                @Html.EditorFor(model => model.CompanyName, new { @class = "form-control" })
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Website, new { @class = "form-control" })
                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.ApplyTo, new { @class = "form-control" })
                @Html.LabelFor(model => model.ApplyTo, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.ApplyTo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.File, new { type = "file" })
                @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">
        </div>
    </div>
}
