﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "Archive";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-danger"><p>@ViewBag.ErrorMessage</p></div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-success"><p>@ViewBag.SuccessMessage</p></div>
}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__title mdl-color--red-700">
        <h4>Archived Postings</h4>
    </div>
    <div class="job-table mdl-color--white mdl-cell mdl-cell--12-col">
        <table class="table table_id">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Industry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                    <tr>
                        <td class="text-center"><i class="material-icons">expand_more</i></td>
                        @*<td class="text-center">
                            @if (item.Active == true)
                            {
                                @Html.ActionLink("lightbulb_outline", "InactivateJob", new { id = item.ID }, new { @class = "icon material-icons mdl-color-text--green-500", @id = "job-active-" + item.ID })
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-active-@item.ID'>
                                    Active
                                </div>
                            }
                            else
                            {
                                @Html.ActionLink("lightbulb_outline", "ActivateJob", new { id = item.ID }, new { @class = "icon material-icons mdl-color-text--grey-500", @id = "job-inactive-" + item.ID })
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-inactive-@item.ID'>
                                    Inactive
                                </div>
                            }
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Industry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("content_copy", "DeleteJob", new { id = item.ID }, new { @class = "icon material-icons", @id = "job-copy-" + item.ID })
                            <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-copy-@item.ID'>
                                Duplicate
                            </div>
                            @Html.ActionLink("archive", "DeleteJobSearch", new { id = item.ID }, new { @class = "icon material-icons", @id = "job-archive-" + item.ID })
                            <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-archive-@item.ID'>
                                Archive
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__title mdl-color--red-700">
        <h4>Archived Transactions</h4>
    </div>
    <div class="job-table mdl-color--white mdl-cell mdl-cell--12-col">
        <table class="table table_id">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Active
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PayPalID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionCredits)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dollars)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td class="text-center"><i class="material-icons">expand_more</i></td>
                        <td class="text-center"></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayPalID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credits)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dollars)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>