﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "Company";
}

<div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
    <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.Raw(Model.CompanyName.Replace(" ", ""))CompanyImage.jpg') center / cover"></div>
    <div class="mdl-card__actions">
        @*<span class="image-card__filename">@Html.TextBoxFor(model => model.File, new { type = "file" })</span>
            @Html.ValidationMessageFor(model => model.File)*@
    </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
    <div class="mdl-card__title mdl-color--red-700">
        <h4>Company Details</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
        <div class="form-group">
            <h2>@Html.DisplayFor(model => model.CompanyName, new { @class = "form-control" })</h2>
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.Address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.Website, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.ApplyTo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        @*<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Edit">*@
        @Html.ActionLink("Edit", "EditCompany", "Hirer", new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })
    </div>

</div>