﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "Duplicate A Job";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="mdl-cell mdl-cell--8-col alert alert-danger"><p>@ViewBag.ErrorMessage</p></div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="mdl-cell mdl-cell--8-col alert alert-success"><p>@ViewBag.SuccessMessage</p></div>
}

@using (Html.BeginForm("DuplicateJob", "Hirer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
        <div class="mdl-card__title mdl-color--red-700">
            <h4>Duplicate A Job</h4>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.EditorFor(model => model.JobName, new { @class = "form-control" })
                @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Industry, new { @class = "form-control" })
                @Html.LabelFor(model => model.Industry, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Location, new { @class = "form-control", @id = "myLocationTag" })
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Date, new { @class = "form-control datepicker", @id = "datepicker" })
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.SalaryMin, new { @class = "form-control", @value = "showMessage(value)" })
                @Html.LabelFor(model => model.SalaryMin, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.SalaryMin, "", new { @class = "text-danger" })
                @*Value: <div id="message">$20000</div>*@
                <p style="margin: 16px 0px">
                    <input class="mdl-slider mdl-js-slider form-control" id="SalaryMinSlider" name="SalaryMin" type="range" min="0" max="150000" value="20000" tabindex="0" step="1000" oninput="showMessage(this.value)">
                </p>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.SalaryMax, new { @class = "form-control", @value = "showMessage2(value)" })
                @Html.LabelFor(model => model.SalaryMax, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.SalaryMax, "", new { @class = "text-danger" })
                <p style="margin: 16px 0px">
                    <input class="mdl-slider mdl-js-slider" id="SalaryMaxSlider" name="SalaryMax" type="range" min="0" max="150000" value="50000" tabindex="0" step="1000" oninput="showMessage2(this.value)">
                </p>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.JobDescription, 7, 55, new { @class = "form-control" })
                @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mdl-cell mdl-cell--6-col" style="width:35%">
                <label for="JobType">Job Type</label>
                @*@Html.EditorFor(model => model.JobType, new { @class = "form-control" })*@
                @*@Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "control-label" })*@
                @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech1">
                    <input type="checkbox" id="JobTypech1" name="JobType" value="FT" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Full Time</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech2">
                    <input type="checkbox" id="JobTypech2" name="JobType" value="PT" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Part Time</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech3">
                    <input type="checkbox" name="JobType" value="Casual" id="JobTypech3" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Casual</span>
                </label>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="JobTypech4">
                    <input type="checkbox" name="JobType" value="Contract" id="JobTypech4" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Contract</span>
                </label>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            @Html.HiddenFor(model => model.CompanyID)
            @Html.HiddenFor(model => model.Credits)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.JobName)
            @Html.HiddenFor(model => model.Industry)
            @Html.HiddenFor(model => model.Location)
            @Html.HiddenFor(model => model.Date)
            @Html.HiddenFor(model => model.SalaryMin)
            @Html.HiddenFor(model => model.SalaryMax)
            @Html.HiddenFor(model => model.JobDescription)
            @Html.HiddenFor(model => model.JobType)
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Post Job">
        </div>
    </div>
}