﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "Company";
}

@using (Html.BeginForm("EditCompany", "Hirer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mdl-grid" }))
{
    <div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
        <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.Raw(Model.CompanyName.Replace(" ", ""))CompanyImage.jpg') center / cover"></div>
        <div class="mdl-card__actions">
            <span class="image-card__filename">@Html.TextBoxFor(model => model.File, new { type = "file" })</span>
            @Html.ValidationMessageFor(model => model.File)
        </div>
    </div>

    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
        <div class="mdl-card__title mdl-color--red-700">
            <h4>Company Details</h4>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
            <div class="form-group">
                @Html.EditorFor(model => model.CompanyName, new { @class = "form-control" })
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Website, new { @class = "form-control" })
                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.ApplyTo, new { @class = "form-control" })
                @Html.LabelFor(model => model.ApplyTo, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.ApplyTo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.Email)
        <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">
        </div>
    </div>
}