﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "Edit Hirer";
}

@using (Html.BeginForm("EditHirer", "Hirer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mdl-grid" }))
{
    <div class="image-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-color--red-500">
        <div class="mdl-card__title mdl-card--expand" style="background: url('/Content/@Html.Raw(Model.UserImage)') center / cover"></div>
        <div class="mdl-card__actions">
            <span class="image-card__filename">@Html.TextBoxFor(model => model.File, new { type = "file" })</span>
            @Html.ValidationMessageFor(model => model.File)
        </div>
    </div>

    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-card">
        <div class="mdl-card__title mdl-color--red-700">
            <h4>Hirer Details</h4>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-grid">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.CompanyName, new { @class = "form-control", disabled = "disabled" })
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">
        </div>

    </div>
}