﻿@model najbdev2.ViewModels.ViewCompany

@{
    ViewBag.Title = "My Postings";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-danger"><p>@ViewBag.ErrorMessage</p></div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="mdl-cell mdl-cell--12-col alert alert-success"><p>@ViewBag.SuccessMessage</p></div>
}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card">
    <div class="mdl-card__title mdl-color--red-700">
        <h4>My Postings</h4>
    </div>
    <div class="job-table mdl-color--white mdl-cell mdl-cell--12-col">
        <table class="table table_id">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Active
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Industry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryMin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryMax)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                    <tr>
                        <td class="text-center lg-hidden"><i class="material-icons">expand_more</i></td>
                        <td class="text-center">
                            @if (item.Active == true)
                            {
                                <a class="icon material-icons mdl-color-text--green-500" id="job-active-@item.ID" href="DeactivateJob?id=@item.ID">lightbulb_outline</a>
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-active-@item.ID'>
                                    Active
                                </div>
                            }
                            else
                            {
                                <a class="icon material-icons mdl-color-text--grey-500" id="job-inactive-@item.ID" href="ActivateJob?id=@item.ID">lightbulb_outline</a>
                                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-inactive-@item.ID'>
                                    Inactive
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Industry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryMax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="text-center">
                            <a class="icon material-icons" id="job-copy-@item.ID" href="DuplicateJob?id=@item.ID">content_copy</a>
                            <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-copy-@item.ID'>
                                Duplicate
                            </div>
                            <a class="icon material-icons" id="job-archive-@item.ID" href="DeactivateJob?id=@item.ID">archive</a>
                            <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for='job-archive-@item.ID'>
                                Archive
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>